<h1>My To Do List</h1>

<div class="new">
  <%= form_with model: @item, local: true do |f| %>
    <%= f.text_field :details, required: true %>
    <%= f.submit "Add Item", :class => "button" %>
  <% end %>
</div>

<div class="list">
  <table>
    <tr>
      <th>Completed</th>
      <th>Details</th>
    </tr>
      <% @items.each do |item| %>
    <tr>
      <td><%= form_with model: item do |form|%>
      <%= form.check_box :completed, :onclick => "this.form.submit()" %>
      <% end%>
      </td>
      <td><%= item.details %></td>
      <td><%= link_to 'Edit', edit_item_path(item)  %></td> 
      <td><%= link_to 'Delete', delete_item_path(item), method: "delete", data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <%end%>
  </table>


</div>